@import "../../styles/index.scss";

.container {
  width: 100%;
  height: 100%;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .addBtns {
      display: flex;
      align-items: center;

      .addListingBtn {
        @include button();
        height: 47px;
        margin-right: 16px;
        border-radius: 10px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          font-size: 16px;
          margin-left: 2px;
        }

        &:hover {
          background-color: $clr-primary-hover;
        }
      }

      .addAgentBtn {
        @include button($bg-color: transparent, $color: $clr-primary);
        height: 47px;
        border-radius: 10px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          font-size: 16px;
          margin-left: 2px;
        }

        &:hover {
          background-color: $clr-primary;
          color: $clr-text-light;
        }
      }
    }
  }
}
