@import "../../../styles/index.scss";

.container {
  margin-top: 80px;
  width: 384px;
  position: relative;

  .title {
    font-size: 16px;
    color: #1a1a1f;
    font-weight: 600;
  }

  .inputBox {
    position: relative;
    margin-top: 22px;
    display: flex;
    flex-direction: column;

    label {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .selectInput,
    .selectInputActive,
    .selectInputError {
      border: 1px solid $clr-text-gray;
      border-radius: 6px;
      width: 100%;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;

      .value {
        color: rgba($clr-text-dark, 60%);
      }

      .valueActive {
        color: $clr-text-dark;
      }
    }

    .selectInputActive {
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;
    }

    .selectInputError {
      border-color: $clr-primary;
    }

    small {
      position: absolute;
      top: 70px;
      color: $clr-primary;
      font-size: 14px;
      font-family: 500;
    }
  }

  .dropdown {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 175px;
    background-color: #ffffff;
    border: 1px solid $clr-text-gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 4px 4px 6px #02152611;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .agentWrapper {
      transition: all 0.1s ease-in-out;
      cursor: pointer;

      .addAgent {
        padding: 12px 10px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #808a93;

        span {
          margin-left: 8px;
        }
      }

      .agent {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 12px 10px;

        &:not(:last-child) {
          border-bottom: 1px solid #808a93;
        }

        span {
          color: $clr-text-dark;
        }
      }
    }
  }
}
