@import "../../../styles/index.scss";

.container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 382px;
  margin-top: 16px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  box-shadow: 4px 4px 6px #02152611;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h3 {
    font-size: 16px;
    color: $clr-text-dark;
  }

  .inputs {
    width: 100%;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .col {
      width: 155px;

      .inputBox {
        width: 100%;
        height: 42px;
        border: 1px solid $clr-text-gray;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;

        span {
          font-size: 14px;
          color: rgba($clr-text-dark, 0.4);
        }

        p {
          font-size: 16px;
          color: rgba(2, 21, 38, 70%);

          sup {
            color: rgba($clr-text-dark, 0.7);
            font-size: 10px;
          }
        }
      }

      .options {
        margin-top: 24px;

        b {
          font-size: 14px;
          color: $clr-text-dark;

          sup {
            font-size: 7px;
          }
        }

        .prices {
          margin-top: 16px;

          .price {
            display: flex;
            align-items: center;
            cursor: pointer;

            &:not(:first-child) {
              margin-top: 10px;
            }

            span {
              font-size: 14px;
              color: #2d3648;
              margin-right: 3px;
            }

            p {
              font-size: 16px;
              color: rgba(#2d3648, 0.7);

              sup {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }

  .chooseBtn {
    @include button();
    margin-top: 32px;
    align-self: flex-end;
    padding: 0 14px;
    height: 33px;
    border-radius: 8px;
    font-size: 14px;

    &:hover {
      background-color: $clr-primary-hover;
    }
  }
}
