@import "../../../../styles/index.scss";

.container {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 175px;
  background-color: #ffffff;
  border: 1px solid $clr-text-gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 4px 4px 6px #02152611;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .item {
    padding: 12px 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid #808a93;
    }
  }
}
