@import "../../../../styles/index.scss";

.inputBox {
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .selectInput,
  .selectInputActive,
  .selectInputError {
    border: 1px solid $clr-text-gray;
    border-radius: 6px;
    width: 384px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    .value,
    .valueActive {
      color: rgba($clr-text-dark, 60%);
    }

    .valueActive {
      color: $clr-text-dark;
    }
  }

  .selectInputActive {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }

  .selectInputError {
    border-color: $clr-primary;
  }

  small {
    position: absolute;
    top: 70px;
    font-size: 14px;
    font-family: 500;
    color: $clr-primary;
  }
}
