@import "../../../../styles/index.scss";

.inputBox {
  display: flex;
  flex-direction: column;

  label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .selectInput {
    border: 1px solid $clr-text-gray;
    border-radius: 6px;
    width: 384px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    span {
      color: rgba($clr-text-dark, 60%);
    }
  }
}
