@import "../../../styles/index.scss";

.container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 282px;
  margin-top: 16px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  box-shadow: 4px 4px 6px #02152611;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;

  h3 {
    font-size: 16px;
    color: $clr-text-dark;
  }

  input {
    @include input();
    margin-top: 24px;
    width: 41px;
    height: 41px;
    border-color: $clr-text-gray;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    color: rgba($clr-text-dark, 40%);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  .chooseBtn {
    @include button();
    margin-top: 32px;
    align-self: flex-end;
    padding: 0 14px;
    height: 33px;
    border-radius: 8px;
    font-size: 14px;

    &:hover {
      background-color: $clr-primary-hover;
    }
  }
}
